link(rel="stylesheet", href="/stylesheets/post.css")

mixin post(userImage, userName, postTime, postTitle, postImg, postText)
    .postcard 
        .postheader 
            .userimage
                img(src=userImage, alt="User Profile")
            .username
                p=userName
            .postTime
                p=postTime
        .postTitle
            p=postTitle
        .postbody 
            .postcontent
                .postimg
                    if (postImg)
                        img(src=postImg, alt="post image")
                        hr
                .postText 
                    p=postText
            .postfeatures
                .like
                    button
                        img(src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png", alt="")
                .comment
                    button
                        img(src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png ")
                .follow
                    button
                        img(src="https://cdn-icons-png.flaticon.com/512/3683/3683218.png ", alt="")
